// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  list-style: disc outside;
    margin-left: 2rem;
}

ol {
  list-style: decimal outside;
  padding-left: 0em;
  margin-top: 0;
  margin-left: 2rem;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

ul.special-list  {
  list-style: none outside;
  text-indent: -1em;
  padding-left: 1em; }

ul.special-list li:before {
  content: "»";
  padding-right: 8px;
  color: $primary-color; }

